**101917088**

**Harsh Kashyap**

**Thapar Institute of Engineering and Technology**

#Assignment 3.

### We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle or you can just download from the google drive link shared to you all

In [59]:
import pandas as pd
import numpy as np

Perform the following tasks:
1. Read Salaries.csv as a dataframe called sal.

In [4]:
sal=pd.read_csv("Salaries.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2. Check the head of the DataFrame.

In [5]:
sal.head()

   Id       EmployeeName  ...         Agency Status
0   1     NATHANIEL FORD  ...  San Francisco    NaN
1   2       GARY JIMENEZ  ...  San Francisco    NaN
2   3     ALBERT PARDINI  ...  San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4   5    PATRICK GARDNER  ...  San Francisco    NaN

[5 rows x 13 columns]

3. Use the .info() method to find out how many entries there are.

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

4. What is the average BasePay ?

In [69]:
a=sal['BasePay'].replace("Not Provided",0)
a=a.replace(np.nan,0)
a.isnull().sum()
a=a.astype(float)
print("Mean value will be "+str(a.mean()))

Mean value will be 66053.72928809702

5. What is the highest amount of OvertimePay in the dataset?

In [70]:
a=sal['OvertimePay'].replace("Not Provided",0)
a=a.replace(np.nan,0)
a.isnull().sum()
a=a.astype(float)
print("Maximum value will be "+str(a.max()))

Maximum value will be 245131.88



6. What is the job title of JOSEPH DRISCOLL? Note: Use all caps, there is also a lowercase Joseph
Driscoll.

In [31]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

7. How much does JOSEPH DRISCOLL make (including benefits)?

In [36]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

8. What is the name of highest paid person (including benefits)?

In [38]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

10. What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [135]:
a=sal[["BasePay","Year"]]
a=a["BasePay"].replace("Not Provided",0)
a=a.replace(np.nan,0)
a.isnull().sum()
a=pd.DataFrame(a)
a.shape

(148654, 1)

In [136]:
a.astype(float)

          BasePay
0       167411.18
1       155966.02
2       212739.13
3        77916.00
4       134401.60
...           ...
148649       0.00
148650       0.00
148651       0.00
148652       0.00
148653       0.00

[148654 rows x 1 columns]

In [137]:
b=sal[["Year"]]
#b=b["Year"].replace("Not Provided",0)
b=b.replace(np.nan,0)
b.isnull().sum()
b=pd.DataFrame(b)
b

        Year
0       2011
1       2011
2       2011
3       2011
4       2011
...      ...
148649  2014
148650  2014
148651  2014
148652  2014
148653  2014

[148654 rows x 1 columns]

In [138]:
b=b.astype(int)

In [147]:
c=pd.concat([a,b])
c.replace(np.nan,0)
c.astype(float)

          BasePay    Year
0       167411.18     NaN
1       155966.02     NaN
2       212739.13     NaN
3        77916.00     NaN
4       134401.60     NaN
...           ...     ...
148649        NaN  2014.0
148650        NaN  2014.0
148651        NaN  2014.0
148652        NaN  2014.0
148653        NaN  2014.0

[297308 rows x 2 columns]

In [141]:
c.groupby('Year').mean()['BasePay']

Year
2011.0   NaN
2012.0   NaN
2013.0   NaN
2014.0   NaN
Name: BasePay, dtype: float64

11. How many unique job titles are there?

In [40]:
sal['JobTitle'].nunique()

2159

12. What are the top 5 most common jobs?

In [41]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

13. How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one
occurence in 2013?)

In [42]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

14. How many people have the word Chief in their job title?

In [48]:
def chief_string(title):
    #print(title)
    if 'chief' in title.lower():
        return True
    else:
        return False

count=0
for i in range(0,sal.shape[0]):
  if chief_string(sal.loc[i,'JobTitle']):
    count=count+1

print("Total people with chief in thier Job Title "+str(count))

Total people with chief in thier Job Title 627

15. Is there a correlation between length of the Job Title string and Salary?

In [46]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [47]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000