# Assignment 1

Harsh Kashyap

CSE4

101917088

Q1. Split this string
s = "Hi there Class!"

In [1]:
s="Hi there Class!"
a=s.split()
print(a)

['Hi', 'there', 'Class!']

Q2. Given the variables
planet = "Earth"
diameter = 12742
Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [3]:
planet="Earth"
diameter=12742
txt="The diameter of {0} is {1} kilometers."
print(txt.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

Q3. Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

Q4. Given this nested dictionary grab the word "hello".
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

Q5. Create a function that grabs the email website domain from a string in the form:
user@domain.com

In [14]:
inp=input("Enter email - ")
find=inp.find('@')
print(inp[find+1:])

Enter email - user@domain.com
domain.com

Q7. Create a basic function that returns True if the word 'dog' is contained in the input string.

In [17]:
def dog(s)  :
  print(s.count('dog'))

dog("dog are dog")

2

Q8. Use lambda expressions and the filter() function to filter out words from a list that don't start with the
letter 's'.
For example: seq = ['soup','dog','salad','cat','great']

In [18]:
seq = ['soup','dog','salad','cat','great']
f = filter(lambda s:s[0]=='s',seq)
print(list(f))

['soup', 'salad']

Q9. You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 pos
sible results: "No Challan", "Small Challan", or "Heavy Challan". If your speed is 60 or less, the result is
"No Challan". If speed is between 61 and 80 inclusive, the result is "Small Challan". If speed is 81 or mor
e, the result is "Heavy Challan". Unless it is your birthday (encoded as a Boolean value in the parameters
of the function) -- on your birthday, your speed can be 5 higher in all cases.
caught_speeding(81,True)
caught_speeding(81,False)

In [19]:
def challan(s,b):
    if(b==False):
        if s<=60:
            return "No Challan"
        elif s>60 & s<=80:
            return "Small Challan"
        else:
            return "Heavy Challan"
    if(b==True):
        if s<=60+5:
            return "No Challan"
        elif s>60+5 & s<=80+5:
            return "Small Challan"
        else:
            return "Heavy Challan"

speed = 64
birthday = True
print(challan(speed,birthday))

No Challan

Q10. Concatenate two lists index-wise
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
Expected Outcome: ['My', 'name', 'is', 'Shelly']

In [20]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
res = [i + j for i, j in zip(list1, list2)]
print(res)

['My', 'name', 'is', 'Shelly']

Q11. Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [22]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
ans=[]
for i in range(len(list1)):
  for j in range(len(list2)):
    ans.append(list1[i]+" "+list2[j])

print(ans)

['Hello  Dear', 'Hello  Sir', 'take  Dear', 'take  Sir']

Q12. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [27]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q13. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [30]:
def remove_value(list, val):
    return [i for i in list if i != val]

list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = remove_value(list1, 20)
print(list1)

[5, 15, 25, 50]

In [28]:

list1.remove(20)
print(list1)

[5, 15, 20, 25, 50, 20]

Q14. Check if a value 200 exists in a dictionary
d1 = {'a': 100, 'b': 200, 'c': 300}

In [31]:
d1 = {'a': 100, 'b': 200, 'c': 300}
if(200 in d1.values()):
    print('yes')
else:
    print("no")

yes

Q15. Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [32]:
n=3
s=2
sum=2
for i in range(n-1):
    s = (s*10)+2
    sum = sum+s

print(sum)

246